<!-- <p>favorite-giphies works!</p> -->
<app-header class="app-header"></app-header>
<div class="gp-container--main">
  <h2 class="gp-favorite--title">
    <mat-icon>favorite</mat-icon><span>Your favorite</span>
  </h2>
  <div class="gp-card">
    <div
      class="gp-card--container"
      *ngFor="let giphy of giphies$ | async"
      (click)="showTool($event)"
    >
      <img class="gp-card--img" src="{{ giphy.images.downsized_large.url }}" />
      <div class="gp-card--tool">
        <mat-icon class="gp-card--tool-love">remote</mat-icon>
      </div>
    </div>
  </div>
  <div class="gp-home--load-more">
    <!-- <button classM mat-raised-button color="warn" (click)="loadGiphy()">
    Load More
  </button> -->
  </div>
</div>
