@import "src/themes/_variables";
.gp-favorite {
  &--title {
    margin-top: 5px;
    color: $gp-brown-red;
    display: flex;
    align-items: center;
    mat-icon {
      font-size: 1;
      margin-right: 4px;
    }
  }
}

h1 {
  color: white !important;
}
.gp-card {
  display: flex;
  flex-wrap: wrap;
  &--container {
    margin: 10px;
    width: calc(25% - 20px);
    display: flex;
    position: relative;

    @media (max-width: 600px) {
      width: calc(100% - 20px);
    }
  }
  &--img {
    width: 100%;
    border-radius: 5px;
  }
  &--tool {
    height: 0px;
    width: 100%;
    background: black;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    border-radius: 0 0 5px 5px;
    transition: all 0.5s;
    z-index: -100;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &-like {
      color: #1976d2;
      cursor: pointer;
      display: block;
      &:hover {
        transform: scale(1.1);
      }
    }
    &-love {
      color: red;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &--tool.active {
    height: 40px;
    opacity: 0.6;
    z-index: 200;
  }
}

.gp-home--load-more {
  text-align: center;
  padding: 30px;
}
