@import "src/themes/_variables";
.gp-header {
  &--title {
    &-link {
      @media (max-width: 500px) {
        display: none !important;
      }
      text-decoration: none;
    }
    &-text {
      color: $gp-white-elegant;
      font-size: 25px;
    }
  }
  &--search {
    &-box {
      input {
        border-radius: 4px 0 0 4px !important;
        background: white !important;
      }
      width: 40%;
      display: flex;
      align-items: center;
      @media (max-width: 500px) {
        width: 60%;
      }
    }
  }
  &--tool {
    display: flex;
    align-items: center;
    mat-icon {
      color: #fad390;
      font-size: 30px;
      width: 30px;
      height: 30px;
      cursor: pointer;
      &:first-child {
        margin-right: 3px;
      }
    }
  }
}
